.todoFormContainer {
  margin-bottom: 30px;
  margin: 6px;
}

.todoFormContainer form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.todoFormContainer input {
  margin-right: 20px;
  width: 45%;
  height: 30px;
  font-size: 1.3rem;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
}
::-webkit-input-placeholder {
  font-size: 15px;
  text-align: center;
}
